<md-content>
    <md-toolbar ng-controller="NavbarCtrl">
        <div class="md-toolbar-tools" layout-align="center center">
            <h1><span ng-if="organizationName">{{organizationName}}: </span>All projects</h1>
            <span flex></span>
            <div ng-if="!$state.includes('overview.overview')">
              <md-button class="md-icon-button" aria-label="Back" ui-sref="overview.overview">
                <md-icon md-svg-src="images/icons/ic_arrow_back_24px.svg" style="color: white;"></md-icon>
                <md-tooltip>
                  Back to projects overview
                </md-tooltip>
              </md-button>
            </div>
            <md-button class="md-icon-button" ng-click="spawnProfilePopup($event)" aria-label="Profile">
                <div flex>
                    <md-icon md-svg-src="images/icons/ic_person_24px.svg" style="color: white;"></md-icon>
                </div>
                <md-tooltip>
                    Profile overview
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
</md-content>

<div ui-view></div>
