<md-content>
    <md-toolbar ng-controller="NavbarCtrl">
        <div class="md-toolbar-tools" layout-align="center center">
            <h1><span ng-if="organizationName">{{organizationName}}: </span>All projects</h1>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="spawnSearchPopup($event)" aria-label="Search">
                <md-icon md-svg-src="images/icons/ic_search_24px.svg" style="color: white;"></md-icon>
                <md-tooltip>
                    Search this project
                </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="spawnProfilePopup($event)" aria-label="Profile">
                <md-icon md-svg-src="images/icons/ic_person_24px.svg" style="color: white;"></md-icon>
                <md-tooltip>
                    Profile overview
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
</md-content>

<div ui-view></div>
