<div layout="column">
    <md-toolbar class="md-accent md-toolbar-tools">
        <h2>
            <span>Create new backlog item</span>
        </h2>
    </md-toolbar>

    <md-content layout="column" flex class="md-padding">
        <md-input-container flex>
            <label>Backlog ID *</label>
            <input ng-model="backlog.id">
        </md-input-container>

        <md-input-container flex>
            <label>Backlog name *</label>
            <input ng-model="backlog.title">
        </md-input-container>

        <md-input-container flex>
            <label>Backlog description *</label>
            <textarea ng-model="backlog.description" md-maxlength="500" rows="3"></textarea>
        </md-input-container>

        <md-input-container flex>
            <label>Time expected *</label>
            <input ng-model="backlog.time_expected" type="number">
        </md-input-container>

        <md-select placeholder="Choose a status" ng-model="backlog.status" required>
            <md-option ng-repeat="status in statusses" value="{{status}}">{{status}}</md-option>
        </md-select>

        <br />

        <section layout="row" layout-sm="column" layout-align="end end">
            <md-button class="md-raised md-primary" ng-click="createBacklogItem(backlog)">Create backlog!</md-button>
        </section>
    </md-content>
</div>
