<div layout="column">
    <md-toolbar class="md-accent md-toolbar-tools">
        <h2>
            <span>Backlog</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Add" ui-sref="project.backlog-create">
            <md-icon md-svg-src="images/icons/ic_add_24px.svg" style="color: white;"></md-icon>
        </md-button>
    </md-toolbar>

    <md-content layout="column" flex class="md-padding">
        <h4 ng-show="backlogs.length == 0">There are no backlog items, make some work!</h4>

        <md-list ng-show="backlogs.length != 0">
            <div layout="row">
                <md-input-container flex>
                    <label>Search by title</label>
                    <input ng-model="search.title">
                </md-input-container>
            </div>

            <md-list-item>
                <div flex ng-click="toggleOrderBy('id')" style="cursor: pointer;">
                    <b>ID</b>
                </div>
                <div flex ng-click="toggleOrderBy('title')" style="cursor: pointer;">
                    <b>Title</b>
                </div>
                <div flex ng-click="toggleOrderBy('createdAt')" style="cursor: pointer;">
                    <b>Created</b>
                </div>
                <div flex ng-click="toggleOrderBy('status')" style="cursor: pointer;">
                    <b>Status</b>
                </div>
                <div flex>
                    <b>Action</b>
                </div>
            </md-list-item>

            <md-list-item ng-repeat="backlog in backlogs | filter: search | orderBy: orderBy">
                <div flex>
                    <md-button class="md-raised md-primary" ui-sref="project.backlog-detail({id: backlog.id})">{{backlog.id}}</md-button>
                </div>
                <div flex>
                    {{backlog.title}}
                </div>
                <div flex>
                    <span time="{{backlog.createdAt}}"></span>
                </div>
                <div flex>
                    {{backlog.status}}
                </div>
                <div flex layout="row">
                    <md-button class="md-fab md-mini md-primary" aria-label="Edit backlog" ng-click="editBacklogItem('{{backlog.id}}')">
                        <md-icon md-svg-src="images/icons/ic_edit_24px.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini" aria-label="Delete backlog" ng-click="confirmDelete($event, '{{backlog.id}}')">
                        <md-icon md-svg-src="images/icons/ic_delete_24px.svg"></md-icon>
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>
