<div layout="column">
    <md-toolbar class="md-accent md-toolbar-tools">
        <h2>
            <span>Edit a backlog item</span>
        </h2>
    </md-toolbar>

    <md-content layout="column" flex class="md-padding">
        <md-input-container flex>
            <label>Backlog ID</label>
            <input ng-model="backlog.id" disabled>
        </md-input-container>

        <md-input-container flex>
            <label>Backlog name (required)</label>
            <input ng-model="backlog.title">
        </md-input-container>

        <md-input-container flex>
            <label>Backlog description (required)</label>
            <textarea ng-model="backlog.description" md-maxlength="500" rows="5"></textarea>
        </md-input-container>

        <md-input-container flex>
            <label>Time expected (required)</label>
            <input ng-model="backlog.time_expected" type="number">
        </md-input-container>

        <br />

        <section layout="row" layout-sm="column" layout-align="end end">
            <md-button class="md-raised md-primary" ng-click="editBacklogItem(backlog)">Update!</md-button>
        </section>
    </md-content>
</div>
