<div layout="column">
    <md-toolbar class="md-accent md-toolbar-tools">
        <h2>
            <span>Edit a issue</span>
        </h2>
    </md-toolbar>

    <md-content layout="column" flex class="md-padding">
        <md-input-container flex>
            <label>Issue ID</label>
            <input ng-model="issue.id" disabled>
        </md-input-container>

        <md-input-container flex>
            <label>Issue name (required)</label>
            <input ng-model="issue.title">
        </md-input-container>

        <md-input-container flex>
            <label>Issue description (required)</label>
            <textarea ng-model="issue.description" md-maxlength="500" rows="5"></textarea>
        </md-input-container>

        <md-input-container flex>
            <label>Time Expected (required)</label>
            <input ng-model="issue.time_expected" type="number">
        </md-input-container>

        <br />

        <section layout="row" layout-sm="column" layout-align="end end">
            <md-button class="md-raised md-primary" ng-click="editIssue(issue)">Update!</md-button>
        </section>
    </md-content>
</div>
