<div layout="column">
  <md-toolbar class="md-accent md-toolbar-tools">
    <h2>
      <span><b>{{issue.id}}</b>: {{issue.title}}</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Add" ui-sref="project.issues-set({id: issue.id})">
      <md-icon md-svg-src="images/icons/ic_edit_24px.svg" style="color: white;"></md-icon>
    </md-button>
  </md-toolbar>

  <md-content layout="column" class="md-padding" flex>
    <div layout-wrap layout="row">
      <div flex="65">
        <p>
          <b>Details</b><br />
          Status: {{issue.status}}<br />
          Priority: {{issue.priority}}<br />
          Type: {{issue.type}}<br /><br />
          Time expected: {{issue.time_expected | minutes}}<br />
          <span ng-show="issue.time_reality > 0">Time reality: {{issue.time_reality | minutes}}</span>
        </p>
      </div>
      <div flex="35">
        <p>
          <b>People</b><br />
          Reporter: {{user.name}}
        </p>

        <p>
          <b>Dates</b><br />
          Created: {{issue.createdAt | ago}}<br />
          Updated: {{issue.updatedAt | ago}}
        </p>
      </div>
    </div>

    <div flex>
        <h1>{{issue.title}}</h1>
        <h4>Issue ID: {{issue.id}}</h4>
        <b>Description:</b>
        <p>{{issue.description}}</p>
    </div>
  </md-content>
</div>
