<div layout="column">
    <md-toolbar class="md-accent md-toolbar-tools">
        <h2>
            <span>Create new issue</span>
        </h2>
    </md-toolbar>

    <md-content layout="column" flex class="md-padding">
        <form name="IssueCreateForm" ng-submit="createIssue(issue)" novalidate>
            <md-input-container flex>
                <label>Issue ID *</label>
                <input ng-model="issue.id" md-minlength="4" md-maxlength="6" ng-required="true">
            </md-input-container>

            <md-input-container flex>
                <label>Issue name *</label>
                <input ng-model="issue.title" ng-required="true">
            </md-input-container>

            <md-input-container flex>
                <label>Issue description *</label>
                <textarea ng-model="issue.description" md-maxlength="500" rows="3" ng-required="true"></textarea>
            </md-input-container>

            <md-input-container flex>
                <label>Time expected *</label>
                <input ng-model="issue.time_expected" type="number" min="0" max="10000" ng-required="true">
            </md-input-container>

            <md-select placeholder="Choose a status" ng-model="issue.status" ng-required="true">
                <md-option ng-repeat="status in statusses" value="{{status}}">{{status}}</md-option>
            </md-select>

            <md-select placeholder="Choose a priority" ng-model="issue.priority" ng-required="true">
                <md-option ng-repeat="priority in priorities" value="{{priority}}">{{priority}}</md-option>
            </md-select>

            <md-select placeholder="Choose a type" ng-model="issue.type" ng-required="true">
                <md-option ng-repeat="type in types" value="{{type}}">{{type}}</md-option>
            </md-select>

            <br/>

            <section layout="row" layout-sm="column" layout-align="end end">
                <md-button class="md-raised md-primary" ng-disabled="IssueCreateForm.$invalid">Create issue!</md-button>
            </section>
        </form>
    </md-content>
</div>