<div layout="column">
    <md-toolbar class="md-accent md-toolbar-tools">
        <h2>
            <span>Issues</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Add" ui-sref="project.issues-create">
            <md-icon md-svg-src="images/icons/ic_add_24px.svg" style="color: white;"></md-icon>
        </md-button>
    </md-toolbar>

    <md-content layout="column" flex class="md-padding">
        <h4 ng-show="issues.length == 0">There are no issues, make some trouble!</h4>

        <md-list ng-if="issues.length > 0">
            <md-list-item>
                <div flex>
                  <b>Details</b>
                </div>
                <div flex>
                    <b>ID</b>
                </div>
                <div flex>
                    <b>Issue</b>
                </div>
                <div flex>
                    <b>Creator</b>
                </div>
                <div flex>
                    <b>Timestamp</b>
                </div>
                <div flex>
                    <b>Status</b>
                </div>
                <div flex>
                    <b>Action</b>
                </div>
            </md-list-item>

            <md-list-item ng-repeat="issue in issues">
                <div flex>
                    <md-button class="md-raised md-primary" ui-sref="project.issues-detail({id: issue.id})">{{issue.id}}</md-button>
                </div>
                <div flex>
                    {{issue.title}}
                </div>
                <div flex>
                    {{issue.creator}}
                </div>
                <div flex>
                    {{issue.createdAt | date}}
                </div>
                <div flex>

                </div>
                <div flex layout="row">
                    <md-button class="md-fab md-mini md-primary" aria-label="Edit issue" ng-click="editIssue('{{issue.id}}')">
                        <md-icon md-svg-src="images/icons/ic_edit_24px.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini" aria-label="Delete issue" ng-click="confirmDelete($event, '{{issue.id}}')">
                        <md-icon md-svg-src="images/icons/ic_delete_24px.svg"></md-icon>
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>
