<md-content flex layout="column" layout-padding layout-align="center center">

    <div layout="row">
        <md-button ng-click="toggleProject()" class="md-raised md-primary">Create a new project</md-button>
        <md-button ng-click="toggleUser()" class="md-raised md-primary">Invite a new user</md-button>
    </div>

    <div ng-if="showCreateProject">
        <form name="createProjectForm" ng-submit="createProject(project)" novalidate>
            <h4>Create a new project!</h4>
            <md-input-container flex>
                <label>Project name</label>
                <input type="text" ng-model="project.name" required>
            </md-input-container>

            <md-input-container flex>
                <label>Short project description</label>
                <textarea ng-model="project.description" columns="1" md-maxlength="50"></textarea>
            </md-input-container>

            <md-button class="md-raised md-primary" ng-disabled="createProjectForm.$invalid">Create!</md-button>
        </form>
    </div>

    <div ng-show="showInviteUser">
        <form name="inviteMemberForm" ng-submit="inviteMember(email)" novalidate>
            <h4>Invite a new user!</h4>

            <md-input-container flex>
                <label>Email adress</label>
                <input type="email" ng-model="email" required>
            </md-input-container>

            <md-button class="md-raised md-primary" ng-disabled="inviteMemberForm.$invalid">Invite!</md-button>
        </form>
    </div>

    <br /><br />

    <div ng-if="projects.length == 0">
      <h3>There are no projects created, yet. Go make one!</h3>
  </div>
    <div layout="row">
        <div ng-repeat="project in projects" >
            <div layout="column" layout-fill>
                <div flex="33">
                    <md-card class="md-whiteframe-z4">
                        <md-card-content>
                            <h2 class="md-title"><a href="#/{{project.shortcode}}/">{{project.name}}</a></h2>
                            <p>
                                {{project.description}}
                            </p>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>

</md-content>
