<div layout="column">
    <md-toolbar class="md-accent md-toolbar-tools">
        <h2>
            <span>Reports</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Refresh" ng-click="refreshGraph()">
            <md-icon md-svg-src="images/icons/ic_refresh_24px.svg" style="color: white;"></md-icon>
        </md-button>
    </md-toolbar>

    <md-content layout="column" flex class="md-padding">
        <h2 class="md-title">Burn down chart</h2>

        <form name="SprintForm" ng-submit="openGraph(sprintId)" novalidate layout="row">
            <md-select placeholder="Sprints" ng-model="sprintId">
                <md-option ng-repeat="sprint in sprints" value="{{sprint._id}}">{{sprint.name}}</md-option>
            </md-select>

            <md-button class="md-fab md-mini" aria-label="Change sprint">
                <md-icon md-svg-src="images/icons/ic_refresh_24px.svg"></md-icon>
            </md-button>
        </form>

        <div ng-show="!showChart">
            You cannot generate a burn down chart with your data yet!
        </div>

        <div ng-show="showChart">
            <div google-chart chart="chartObject" style="{{chart.cssStyle}}"/>
        </div>


    </md-content>
</div>