<div layout="column">
    <md-toolbar class="md-accent md-toolbar-tools">
        <h2>
            <span>Reports</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Refresh" ng-click="refreshGraph()">
            <md-icon md-svg-src="images/icons/ic_refresh_24px.svg" style="color: white;"></md-icon>
        </md-button>
    </md-toolbar>

    <md-content layout="column" flex class="md-padding">
        <h2 class="md-title">Burn down chart</h2>

        Chart here!
    </md-content>
</div>
