<h1>Forgot password</h1>

<form name="ForgotPasswordForm" ng-submit="forgotPassword(user)" novalidate>
    <md-input-container>
        <md-icon md-svg-src="images/icons/ic_email_24px.svg" class="email"></md-icon>
        <input ng-model="user.email" type="email" placeholder="Email" ng-required="true" autofocus>
    </md-input-container>

    <md-input-container>
        <md-icon md-svg-src="images/icons/ic_lock_24px.svg" class="password"></md-icon>
        <input ng-model="user.old_password" type="password" placeholder="Old password" ng-required="true" autofocus>
    </md-input-container>

    <md-input-container>
        <md-icon md-svg-src="images/icons/ic_lock_24px.svg" class="password"></md-icon>
        <input ng-model="user.new_password" type="password" placeholder="New password" ng-required="true">
    </md-input-container>

    <md-input-container>
        <md-icon md-svg-src="images/icons/ic_lock_24px.svg" class="password"></md-icon>
        <input ng-model="user.new_password_confirmation" type="password" placeholder="New password (again)" ng-required="true">
    </md-input-container>

    <p><small>Only want to login? <a ui-sref="auth.login">Click here!</a></small></p>

    <md-button class="md-raised md-primary">Change password</md-button>
</form>