<h1>Organization</h1>

<h4>Wait to get invited</h4>
<p>You have to be invited to your organization to participate, so please poke your friends for an invite!</p>


<h4>Create an organization</h4>

<md-input-container flex>
  <label>Organization name</label>
  <input ng-model="name" ng-required="true" placeholder="Type your organization name here..">
</md-input-container>

<p>Make sure that your organization doesn't have a name yet, otherwise you can't join!</p>

<md-button class="md-raised md-primary" ng-click="createOrganization(name)">Create organization</md-button>
