<h1>Register</h1>

<form name="RegisterForm" ng-submit="register(user)">
    <md-input-container>
        <md-icon md-svg-src="images/icons/ic_person_24px.svg" class="name"></md-icon>
        <input ng-model="user.name" type="name" placeholder="Name (required)" ng-required="true" autofocus>
    </md-input-container>

    <md-input-container>
        <md-icon md-svg-src="images/icons/ic_email_24px.svg" class="email"></md-icon>
        <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>

    <md-input-container>
        <md-icon md-svg-src="images/icons/ic_lock_24px.svg" class="password"></md-icon>
        <input ng-model="user.password" type="password" placeholder="Password (required)" ng-required="true">
    </md-input-container>

    <p><small>Already have an account? <a ui-sref="auth.login">Login!</a></small></p>


    <md-button class="md-raised md-primary">Register</md-button>
</form>