<md-dialog aria-label="Profile">
    <md-dialog-content>
        <h2 class="md-title">Profile</h2>

        <md-list-item ng-click="navigateTo('auth.login')">
            <md-icon md-svg-src="images/icons/ic_lock_24px.svg"></md-icon>
            <p>Change password</p>
        </md-list-item>

        <md-list-item ng-click="navigateTo('auth.login')">
            <md-icon md-svg-src="images/icons/ic_exit_to_app_24px.svg"></md-icon>
            <p>Logout</p>
        </md-list-item>

        <md-button md-no-ink class="md-primary">Close</md-button>
    </md-dialog-content>
</md-dialog>